.searchbox{
    margin: 5px;
    padding: 10px;
    font-size: medium;
    width:450px;
    border: 7px solid powderblue;

}

.search{
    display: contents;
    color: white;
}

.headerStyle{
    background-color: rebeccapurple;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

